:root {
    --fuenteHeading: 'Courier New', Courier, monospace;
    --fuenteParrafos: 'Courier New', Courier, monospace;

    --fondo-body: #ececec;
    --fondo-body-sec: #232323;
    --fondo-main: #1a1a1a;
    --fondo-header: #232323;
    --fondo-header-sec: #1a1a1a;

    --blanco: #ffffff;
    --blanco-sec: #bababa;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after {
    margin: 0;
    box-sizing: inherit;
}

header {
    position:fixed;
    left: 7%;
    right: 7%;
    top: 0;

    display: flex;
    flex-direction: column;

    font-family: var(--fuenteHeading);
    color: var(--blanco);
    
} header h1 {
    padding-top: 1rem;
    padding-left: 2rem;

    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;

    border-left: 2px solid var(--fondo-body);
    border-right: 2px solid var(--fondo-body);

    background-color: var(--fondo-header);
}

/* NAV STYLE */
header nav {
    display: flex;
    justify-content: space-around;
} header nav .sec {
    background-color: var(--fondo-header-sec);
} header nav :first-child {
    border-bottom-left-radius: 1.8rem;
    border-bottom: 2px solid var(--fondo-body);
    border-left: 2px solid var(--fondo-body);
} header nav :last-child {
    border-bottom-right-radius: 1.8rem;
    border-bottom: 2px solid var(--fondo-body);
    border-right: 2px solid var(--fondo-body);
} header nav .main {
    border: 2px solid var(--fondo-header);
    border: 2px solid var(--blanco-sec);    
    background-color: var(--fondo-header);
} header nav a {
    padding: 0.5rem;
    width: 100%;
    
    border: 1px solid var(--negro);
    border-bottom: 2px solid var(--fondo-body);
    
    text-align: center;
    text-decoration: none;
    color: var(--blanco);

    transition: hover 2s border;
} header nav a:hover {
    border: 2px solid var(--blanco-sec);
}

/* ESTILO BODY */
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;

    background-color: var(--fondo-body);
} 

/* ESTILO MAIN */
body #first {
    margin-top: 15rem;
} body main {

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 4rem;
    height: 60rem;

    border: 3px solid var(--negro);
    border-radius: 0.8rem;

    color: var(--blanco);
    background-color: var(--fondo-body-sec);
} body main div {
    height: 97%;
    width: 98%;
    margin: 1rem;

    border-radius: 0.8rem;
    border: 1px solid var(--blanco);

    padding: 1rem;
} body main div:nth-child(1){
    background-color: var(--fondo-main);
} body main div:nth-child(2){
    background-color: var(--fondo-header-sec);
    color: var(--blanco);
} body main div img {
    width: 100%;
    border-radius: 0.8rem;
}


