:root {
    --fuenteHeading: 'Courier New', Courier, monospace;
    --fuenteParrafos: 'Courier New', Courier, monospace;

    --fondo-body: #6a6a6a;
    --fondo-body-sec: #232323;
    --fondo-main: #1a1a1a;
    --fondo-header: #232323;
    --fondo-header-sec: #1a1a1a;

    --blanco: #ffffff;
    --blanco-sec: #bababa;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after {
    margin: 0;
    box-sizing: inherit;
}

header {
    position:fixed;
    left: 7%;
    right: 7%;
    top: 0;

    display: flex;
    flex-direction: column;

    font-family: var(--fuenteHeading);
    color: var(--blanco);
    
} 

/* NAV STYLE */
header nav {
    display: flex;
    justify-content: space-around;
} header nav .sec {
    background-color: var(--fondo-header-sec);
} header nav :first-child {
    border-bottom-left-radius: 1.8rem;
    border-bottom: 2px solid var(--fondo-body);
    border-left: 2px solid var(--fondo-body);
} header nav :last-child {
    border-bottom-right-radius: 1.8rem;
    border-bottom: 2px solid var(--fondo-body);
    border-right: 2px solid var(--fondo-body);
} header nav .main {
    border: 2px solid var(--fondo-header);
    border: 2px solid var(--blanco-sec);    
    background-color: var(--fondo-header);
} header nav a {
    padding: 0.5rem;
    width: 100%;
    
    border: 1px solid var(--negro);
    border-bottom: 2px solid var(--fondo-body);
    
    text-align: center;
    text-decoration: none;
    color: var(--blanco);

    transition: hover 2s border;
} header nav a:hover {
    border: 2px solid var(--blanco-sec);
}

/* ESTILO BODY */
body {

    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;

    background-color: var(--fondo-body);
} 

/* ESTILO MAIN */
body main {

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--fondo-body);
    margin-top: 5rem;
    margin-bottom: 5rem;
}body main article {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    margin: 4rem;

    color: var(--blanco);
    background-color: var(--fondo-main);
    border-radius: 1.8rem;
    padding: 1rem;
}body main article div {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--blanco);
    border-radius: 1.2rem;
    width: 100%;
}body main article>* {
    padding: 1rem;
    border: 1px solid var(--blanco);
}body main article .article_img {
    align-items: center;
}

/* IMÁGENES */
img {
    max-width: 100%;
    height: auto;
    border-radius: 1.2rem;
} #python {
    width: 50%;
}

/* FOOTER */
footer {    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;

    background-color: var(--fondo-main);
    color: var(--blanco);
    padding: 0.5rem;

} footer a {
    text-decoration: none;
    color: var(--blanco);
}

